/* Try different box model properties below */
.pages__page {
  border: 2px solid red;
  border-radius: 3px;
  background: rgb(223, 177, 177);
  padding: 2px;
  margin: 2px;
  width: 2px;
  height: 2px;
}
.country {
  padding: 25px;
  border: 1px solid red;
  margin: 2px 0;
}
